@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to FizzBuzz on DOTnet with EntityFramework!
    </h1>
    <form method="post">
        <div class="row">
            <div class="col">
                <LaBeL asp-for="input"></LaBeL><BR />
                <iNPuT asp-for="input" /><br />
                <spAN asp-validation-for="input" class="text-danger"></spAN><bR />
                <br />
                @{
                    if(Model.lastEntry.HasValue)
                    {
                        <span>@Model.lastEntry.Value.result</span>
                    }
                }
            </div>
        </div>
        <br />
        @*<button type="submit">Confirm</button>*@
    </form>
    @*<br />
    <br />
    <br />
    <br />
    <p>@Model.input</p>*@
</div>
