@page
@model WebApp_FizzBuzz.Pages.Ostatnio_szukaneModel
@{
}

<h1>Last @Ostatnio_szukaneModel.entriesListLenght entries:</h1>
<div>
    @{
        if (Model.entriesList.Count is 0)
        {
            <span>No entries in database... YET!</span>
        }
        else
        {
            foreach (var entry in Model.entriesList)
            {
            <form asp-page-handler="deleteEntry" method="post">
                <button class="btn btn-light btn-sm" name="value" value=@entry.date.Ticks.ToString()>delete</button>
                @*<button class="btn btn-light btn-sm" value="gah">delete</button>*@
                @*<input type="submit" name=@entry.date.Ticks.ToString() value="delete" />*@
                @entry.ToString()<br />
                @*@Html.*@
            </form>
            }
        }
    }
</div>
