@page
@model WebApp_FizzBuzz.Pages.Ostatnio_szukaneModel
@{
}

@{
    void ZACZNIJDZIAŁAĆTYSTARAKURtyzano(string message)
    {
        Model.OnPostDeleteEntry(message);
    }
}
<h1>Last @Ostatnio_szukaneModel.entriesListLenght entries:</h1>
<div>
    @{
        if (Model.entriesList.Count is 0)
        {
            <span>No entries in database... YET!</span>
        }
        else
        {
            foreach (var entry in Model.entriesList)
            {
                @*<form asp-page-handler="deleteEntry" method="post">*@
                <button class="btn btn-light btn-sm" value="gah" onclick="ZACZNIJDZIAŁAĆTYSTARAKURtyzano()">delete</button>
                @entry.ToString()<br />
                @*</form>*@
            }
        }
    }
</div>
